.book-card {
    background-color: #fff;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    
    opacity: 0; /* Start hidden */
    transform: translateY(20px); /* Start slightly lower */
    animation: reveal 1s forwards; /* Apply animation */
    animation-delay: 0.2s; /* Delay to allow for staggered effect */
  }

  @keyframes reveal {
    to {
      opacity: 1; /* Fully visible */
      transform: translateY(0); /* Original position */
    }
  }
  
  .book-card:hover {
    background-color: #e0f7fa;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  }
  
  .pagination-container {
    display: flex;
    justify-content: center; /* Align to the start */
    align-items: center;
    gap: 10px;
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent wrapping */
  }
  
  .pagination-button, .pagination-dropdown {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .pagination-button.disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .pagination-button.active {
    background-color: #0056b3;
  }
  
  .pagination-dropdown {
    padding: 8px;
    border-radius: 4px;
  }
  
  /* Horizontal Scrollbar Styling (Optional) */
  .pagination-container::-webkit-scrollbar {
    height: 8px; /* Scrollbar height */
  }
  
  .pagination-container::-webkit-scrollbar-thumb {
    background-color: #888; /* Scrollbar color */
    border-radius: 4px;
  }
  
  .pagination-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

  @media screen and (max-widht:500px) {
    .pagination-container {
      justify-content: flex-start;
    }
  }